/* Responsive 5e CSS */

.ds_responsive5e .responsive5e-container {
    width: 100%;
    margin: 0 auto;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    color:#000;
}
.ds_responsive5e label {
    color:#000;
}
.ds_responsive5e a {
    text-decoration:none;
}
.ds_responsive5e a:hover {
    text-decoration:underline;
}
.ds_responsive5e .hidden {
    display: none;
}
.ds_responsive5e .row {
    width: 100%;
    margin-top:5px;
}
.ds_responsive5e .row:before, .ds_responsive5e .row:after, .ds_responsive5e .skillbox:before, .ds_responsive5e .skillbox:after,
.ds_responsive5e .addlist-container li.addlist-item:before, .ds_responsive5e .addlist-container li.addlist-item:after,
.ds_responsive5e .clearfix:before, .ds_responsive5e .clearfix:after {
    display: table;
    content: " ";
}
.ds_responsive5e .row:after, .ds_responsive5e .skillbox:after, .ds_responsive5e .clearfix:after, 
.ds_responsive5e .addlist-container li.addlist-item:after {
    clear: both;
}
.ds_responsive5e .full-label {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    font-size: 87.5%;
    line-height: 1.5em;
    font-weight: bold;
    text-align: center;
}
.ds_responsive5e button {
    position: static;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.ds_responsive5e .jeditable_input input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.ds_responsive5e .jeditable_input button {
    display: inline-block;
    margin: 5px 0 0 3px;
    padding: 6px 12px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: visible;
    text-transform: none;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    -webkit-appearance: button;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #333;
    background-color: #fff;
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
    background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition:none;
}
.ds_responsive5e .jeditable_input button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.ds_responsive5e .jeditable_input button:hover,
.ds_responsive5e .jeditable_input button:focus,
.ds_responsive5e .jeditable_input button:active {
  background-color: #ebebeb;
  border-color: #adadad;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}


/* BASIC INFO */
.ds_responsive5e .basicinfo label, .ds_responsive5e .basicinfo span.dsf {
    display:block;
    float:left;
}
.ds_responsive5e .basicinfo label {
    min-width:100px;
    width: 8.33333333%;
    padding-right:8px;
    font-weight:bold;
    text-align:right;
}
.ds_responsive5e .basicinfo .image-display {
    min-width:100px;
    float:right;
}

/* BIO AND DESCRIPTION */
.ds_responsive5e .biography {
    margin:12px auto 10px;
    padding:10px;
    border:1px solid #000;
}
.ds_responsive5e .biography h3 {
    width:100%;
    margin-bottom:5px;
    padding-bottom:5px;
    border-bottom:1px inset #ccc;
    font-size:100%;
    line-height:1.5em;
    font-weight:bold;
    color:#000;
}

/* ABILITIES */
.ds_responsive5e .abilities, .ds_responsive5e .battlestats {
    width: 100%;
    margin: 10px auto;
}
.ds_responsive5e .abilities .row {
    margin-bottom: 10px;
}
.ds_responsive5e .statbox {
    padding: 10px;
    border: 1px solid #000;
    display: block;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
@media (max-width: 350px) {
    .ds_responsive5e .statbox {
        padding:7px;
    }
}
.ds_responsive5e .statbox-2 {
    width: 15.66666667%;
    margin: 0 1% 0 0;
}
.ds_responsive5e .statbox-2:last-child {
    margin:0;
}
.ds_responsive5e .statbox-3 {
    width: 24%;
    margin: 0 1% 0 0;
}
.ds_responsive5e .statbox-3:last-child {
    margin:0;
}
.ds_responsive5e .statbox-4 {
    width: 32.33333333%;
    margin: 0 1% 0 0;
}
.ds_responsive5e .statbox-4:last-child {
    margin:0;
}
.ds_responsive5e .statbox .statlabel {
    width:100%;
    min-width:30px;
    display:block;
    font-size: 87.5%;
    line-height: 1.5em;
    font-weight: bold;
    text-align: center;
}
@media (max-width: 350px) {
    .ds_responsive5e .statbox-4 .statlabel {
        font-size: 62.5%;
    }
}
.ds_responsive5e .statbox .statlabel-small {
    width:100%;
    min-width:30px;
    display:block;
    font-size: 62.5%;
    line-height: 1.5em;
    font-weight: bold;
    text-align: center;
}
.ds_responsive5e .statbox .stat {
    width:100%;
    font-size:150%;
    text-align:center;
}
.ds_responsive5e .statbox .stat-small {
    width:100%;
    font-size:112.5%;
    text-align:center;
}
.ds_responsive5e .statbox .statmod {
    width: 100%;
    font-size: 75%;
    margin-top: 7px;
    padding-top: 7px;
    border-top: 1px solid #333;
    text-align: center;
}
.ds_responsive5e .statbox .toggle-container {
    width:100%;
    margin-top:3px;
}
.ds_responsive5e .toggle-container button {
    font-family: Georgia, Times, "Times New Roman", serif;
}
.ds_responsive5e .toggle-container .toggle-checkbox {
    display:none;
}

/* SKILLS */
@media (min-width: 650px) {
  .ds_responsive5e .skillcol {
      width:14.66666667%;
      float: left;
      padding:0 1%;
  }
  .ds_responsive5e .str_skills {
      border-left:none;
  }
  .ds_responsive5e .skillcol-label {
      display:none;
  }
  .ds_responsive5e .skillbox {
      width: 100%;
      padding: 5px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
  }
  .ds_responsive5e .skill-label {
      width:100%;
      display:block;
      clear:both;
      font-size:87.5%;
      font-weight:bold;
      font-variant:small-caps;
  }
  .ds_responsive5e .skillbox .stat {
      width:65%;
      min-height:28px;
      float:left;
      margin:0 5%;
      padding-top:8px;
      font-size:112.5%;
  }
  .ds_responsive5e .skillbox .stat .dsf input {
      min-width:30px;
  }
  .ds_responsive5e .skillbox .toggle-container {
      width:25%;
      min-height:36px;
      float:left;
  }
  .ds_responsive5e .skillbox .toggle-container .btn {
      width:100%;
      min-height:22px;
      font-weight: bold;
  }
}
@media (max-width: 649px) {
  .ds_responsive5e .skillcol {
      width: 100%;
  }
  .ds_responsive5e .skillcol-label {
      width: 100%;
      display: block;
      margin-bottom: 10px;
      font-size: 87.5%;
      line-height: 1.5em;
      font-weight: bold;
      font-variant:small-caps;
  }
  .ds_responsive5e .skillbox {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
  }
  .ds_responsive5e .skill-label {
      width:100%;
      display:block;
      clear:both;
      font-size:87.5%;
      font-weight:bold;
      font-variant:small-caps;
  }
  .ds_responsive5e .skillbox .stat {
      width:65%;
      min-height:28px;
      float:left;
      margin:0 5%;
      padding-top: 8px;
      font-size:112.5%;
  }
  .ds_responsive5e .skillbox .stat .dsf input {
      min-width:30px;
  }
  .ds_responsive5e .skillbox .toggle-container {
      width:25%;
      min-height:36px;
      float:left;
  }
  .ds_responsive5e .skillbox .toggle-container .btn {
      width:100%;
      min-height:22px;
      font-weight: bold;
  }
}

/* ATTACKS AND OTHER PROFICIENCIES */
.ds_responsive5e .left-col, .ds_responsive5e .right-col {
    float:left;
    padding:10px;
    border:1px solid #000;
}
.ds_responsive5e .left-col {
    width:50%;
}
.ds_responsive5e .right-col {
    width:49%;
    margin:0 0 0 1%;
}
@media (max-width: 649px) {
    .ds_responsive5e .left-col, .ds_responsive5e .right-col {
        width:100%;
        float:none;
        clear:both;
        margin:5px 0 0;
    }
}
.ds_responsive5e .languages-label {
    margin-top:30px;
}
.ds_responsive5e .addlist-container ul.addlist {
    clear:both;
    padding:0 0 0 30px;
}
.ds_responsive5e .addlist-container ul.addlist li.addlist-item {
    width:100%;
    display:block;
    padding-bottom:5px;
}
.ds_responsive5e .addlist-container ul.addlist li.addlist-item .marker {
    width:5px;
    min-height:22px;
    display:block;
    float:left;
    padding-top:8px;
    padding-right:3px;
}
.ds_responsive5e .addlist-container ul.addlist li.addlist-item .content {
    max-width:80%;
    min-height:22px;
    display:block;
    float:left;
    padding-top:8px;
    padding-right:4px;
}
.ds_responsive5e .addlist-container ul.addlist li.addlist-item .removebtn {
    width:28px;
    display:block;
    float:left;
}
.ds_responsive5e .addlist-container .addbtn {
    width:100%;
    display:block;
}
.ds_responsive5e .addlist-container .addlist-field {
    display:none;
}
/* Attacks List */
.ds_responsive5e .attacks-list-container ul.attacks-list {
    width:100%;
    display:block;
    padding:0;
}
.ds_responsive5e .attacks-list-container ul.attacks-list li {
    width:100%;
    display:block;
    padding-bottom:5px;
}
.ds_responsive5e .attacks-list-container ul.attacks-list li .attack-stats {
    width:100%;
    float:left;
}
.ds_responsive5e .attacks-list-container ul.attacks-list li .attack-name {
    width: 41.66666667%;
    display:block;
    float:left;
    margin-right: 1%;
}
.ds_responsive5e .attacks-list-container ul.attacks-list li .attack-bonus {
    width: 15.66666667%;
    display: block;
    float: left;
    margin-right: 1%;
    text-align: center;
    background-color:#eee;
}
.ds_responsive5e .attacks-list-container ul.attacks-list li .attack-damage {
    width: 39.66666667%;
    display:block;
    float:left;
    text-align: right;
    padding-right: 1%;
}
.ds_responsive5e .attacks-list-container ul.attacks-list li span input {
    max-width:50%;
    margin-right:2px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.ds_responsive5e .attacks-list-container ul.attacks-list li span button {
    min-height:28px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.ds_responsive5e .attacks-list-container ul.attacks-list li span.attack-name,
.ds_responsive5e .attacks-list-container ul.attacks-list li span.attack-bonus,
.ds_responsive5e .attacks-list-container ul.attacks-list li span.attack-damage {
    min-height:28px;
    padding-top:8px;
}
.ds_responsive5e .attacks-list-container ul.attacks-list-editable li .attack-stats {
    width: 89.66666667%;
    margin-left: 1%;
}
.ds_responsive5e .attacks-list-container ul.attacks-list-editable li .removebtn {
    width: 8.33333333%;
    display: block;
    float: left;
}
.ds_responsive5e .attacks-list-container .addbtn {
    width:100%;
    display:block;
}
.ds_responsive5e .attacks-list-container .attacks-list-field {
    display:none;
}

/* INVENTORY */
.ds_responsive5e .inventory {
    width:100%;
    padding:10px;
    border:1px solid #000;
}
.ds_responsive5e .inventory .inventory-col-1, .ds_responsive5e .inventory .inventory-col-3 {
    width:33.33333333%;
    float:left;
}
.ds_responsive5e .inventory .inventory-col-2 {
    width:31.33333333%;
    margin:0 1%;
    float:left;
}
@media (max-width: 649px) {
    .ds_responsive5e .inventory .inventory-col-1, 
    .ds_responsive5e .inventory .inventory-col-2, 
    .ds_responsive5e .inventory .inventory-col-3 {
        width:100%;
        float:none;
        clear:both;
        margin:5px 0 0;
    }
    .ds_responsive5e .inventory .inventory-col-2 {
        padding:5px 0;
        border-top:1px solid #ccc;
        border-bottom:1px solid #ccc;
    }
    .ds_responsive5e .inventory ul.addlist {
        padding:0 0 0 10px;
    }
}
/* SPELLCASTING */
.ds_responsive5e .spellcasting {
    width:100%;
    padding:10px;
    border:1px solid #000;
}
.ds_responsive5e .spellcasting .spellcasting-header {
    width:100%;
    margin:5px 0;
}
.ds_responsive5e .spellcasting .spellcasting-header .use-spellcasting-toggle button.toggle {
    width:100%;
    display:block;
}
.ds_responsive5e .spellcasting .spell-lists {
    width:100%;
}
.ds_responsive5e .spellcasting .spell-lists .column_1, .ds_responsive5e .spellcasting .spell-lists .column_3 {
    width:33.33333333%;
    float:left;
}
.ds_responsive5e .spellcasting .spell-lists .column_2 {
    width:31.33333333%;
    margin:0 1%;
    float:left;
}
@media (max-width: 649px) {
    .ds_responsive5e .spellcasting .spell-lists .column_1, 
    .ds_responsive5e .spellcasting .spell-lists .column_2, 
    .ds_responsive5e .spellcasting .spell-lists .column_3 {
        width:100%;
        float:none;
        clear:both;
        margin:0;
    }
}
.ds_responsive5e .spellcasting .spellbox {
    margin:0 auto 10px;
    padding:10px;
    border:1px solid #000;
}
.ds_responsive5e .spellcasting .spellbox label {
    width:100%;
    text-align:center;
    font-variant:small-caps;
    font-weight:bold;
}

/* GRID CLASSES */
.ds_responsive5e .cols-1, .ds_responsive5e .cols-2, .ds_responsive5e .cols-3, .ds_responsive5e .cols-4, .ds_responsive5e .cols-5, .ds_responsive5e .cols-6, .ds_responsive5e .cols-7, .ds_responsive5e .cols-8, .ds_responsive5e .cols-9, .ds_responsive5e .cols-10, .ds_responsive5e .cols-11, .ds_responsive5e .cols-12 {
    float: left;
}
.ds_responsive5e .cols-12 {
    width: 100%;
}
.ds_responsive5e .cols-11 {
    width: 91.66666667%;
}
.ds_responsive5e .cols-10 {
    width: 83.33333333%;
}
.ds_responsive5e .cols-9 {
    width: 75%;
}
.ds_responsive5e .cols-8 {
    width: 66.66666667%;
}
.ds_responsive5e .cols-7 {
    width: 58.33333333%;
}
.ds_responsive5e .cols-6 {
    width: 50%;
}
.ds_responsive5e .cols-5 {
    width: 41.66666667%;
}
.ds_responsive5e .cols-4 {
    width: 33.33333333%;
}
.ds_responsive5e .cols-3 {
    width: 25%;
}
.ds_responsive5e .cols-2 {
    width: 16.66666667%;
}
.ds_responsive5e .cols-1 {
    width: 8.33333333%;
}
.ds_responsive5e .cols-border-box {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/**
 * BUTTON STYLES
 * Adapted from Twitter Bootstrap 3
 * http://getbootstrap.com/
 */
.ds_responsive5e .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 87.5%;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  transition:none;
}
.ds_responsive5e .btn:focus,
.ds_responsive5e .btn:active:focus,
.ds_responsive5e .btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.ds_responsive5e .btn:hover,
.ds_responsive5e .btn:focus {
  color: #333;
  text-decoration: none;
}
.ds_responsive5e .btn:active,
.ds_responsive5e .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.ds_responsive5e .btn.disabled,
.ds_responsive5e .btn[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.ds_responsive5e .btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.ds_responsive5e .btn-default:hover,
.ds_responsive5e .btn-default:focus,
.ds_responsive5e .btn-default:active,
.ds_responsive5e .btn-default.active {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}
.ds_responsive5e .btn-default:active,
.ds_responsive5e .btn-default.active {
  background-image: none;
}
.ds_responsive5e .btn-default.disabled,
.ds_responsive5e .btn-default[disabled],
.ds_responsive5e .btn-default.disabled:hover,
.ds_responsive5e .btn-default[disabled]:hover,
.ds_responsive5e .btn-default.disabled:focus,
.ds_responsive5e .btn-default[disabled]:focus,
.ds_responsive5e .btn-default.disabled:active,
.ds_responsive5e .btn-default[disabled]:active,
.ds_responsive5e .btn-default.disabled.active,
.ds_responsive5e .btn-default[disabled].active {
  background-color: #fff;
  border-color: #ccc;
}
.ds_responsive5e .btn-default {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}
.ds_responsive5e .btn-default:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.ds_responsive5e .btn:active,
.ds_responsive5e .btn.active {
  background-image: none;
}
.ds_responsive5e .btn-default {
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  border-color: #ccc;
}
.ds_responsive5e .btn-default:hover,
.ds_responsive5e .btn-default:focus {
  background-color: #e0e0e0;
  background-position: 0 -15px;
}
.ds_responsive5e .btn-default:active,
.ds_responsive5e .btn-default.active {
  background-color: #e0e0e0;
  border-color: #dbdbdb;
}
.ds_responsive5e .save-prof-btn {
    width:100%;
    display:block;
    font-weight:bold;
}
.ds_responsive5e .skill-prof-btn {
    padding: 6px!important;
    font-weight: bold;
}